CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/v1/8m.csv"
CONFIG_ESP_TASK_WDT_TIMEOUT_S=20

CONFIG_BT_SPP_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BTDM=y